<footer>
    <div class="copy">copyright ⫷ ALIX STUDIO ⫸</div>
</footer>

<script>
    import 
    function loadHome(){
        console.log("loadHome");
        this.$router.push({path: "/" })
    }
    function loadAbout(){
        console.log("loadAbout");
        this.$router.push({path: "/about" })
    }
</script>