<footer>
    <div class="copy">copyright © ⫷ ALIX STUDIO ⫸</div>
</footer>
<script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<script>

    function loadHome(){
        console.log("loadHome");
        this.$router.push({path: "/" })
    }
    function loadAbout(){
        console.log("loadAbout");
        this.$router.push({path: "/about" })
    }
</script>