<section class="homeSection">
    <h1 class="title">CA C'EST UN HOME</h1>
    <p> 
        <% people.forEach(person  => { %>
                <h4>Salut   <%= person.firstName %> </h4>
        <% }) %>
    </p> 
</section>