<div>
  <div class="demo-layout-transparent mdl-layout mdl-js-layout">
    <div class="mdl-layout__header mdl-layout__header--transparent">
      <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title">ᕦ(ò_óˇ)ᕤ SuperSite</span>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation -->
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="">Home</a>
          <a class="mdl-navigation__link" href="">About</a>
        </nav>
      </div>
    </div>
    <main class="mdl-layout__content">
    </main>
  </div>
</div>
