<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %> 
  <body>
    <%- include("./partials/header.ejs", {title : "about"}) %> 
    <%- include("./partials/aboutContent.ejs") %> 
    <%- include("./partials/footer.ejs") %> 
  </body>
</html>
